<section id="aboutSevice" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Upload Your Data Sets and Generate the Model</h2>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

    <!-- Call to Action -->
    <Section id="form" class="call-to-action bg-primary" style="height:46%">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style=" position: absolute; left: 30%; top:relative;">
                    <div ng2FileDrop
                         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                         (fileOver)="fileOverBase($event)"
                         [uploader]="uploader"
                         class="well my-drop-zone">
                        Drop your data file 1 here.
                    </div>
                    <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                </div>
            </div>
        </div>
</Section>

