
.center {
    margin: auto;
    width: 50%;
    padding: 0px;
}
.tableCenter{
    position: relative;
    left: 50%;
  margin:0, auto;
    width: 60%;
    padding: 10px;  
    
}
.right {
    position: absolute;
    right: 70%px;
    width: 300px;
    
    padding: 10px;
}