<section id="aboutSevice" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Recomended Movies</h2>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

    <!-- Call to Action -->
    <Section id="form" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form action="" method="GET">
                        <table border="0">
                        <tr class="form-group">
                            <th><h4>Your Output &nbsp;&nbsp;&nbsp;&nbsp;</h4></th>
                            <th>​<textarea disabled style="color:#6da021;" id="data" rows="30" cols="100"></textarea></th>
                        </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
</Section>
