<body>
    <section id="aboutSevice" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Upload Your Data and Get the Result</h2>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

    <!-- Call to Action -->
    <Section id="form" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form action="" method="post">
                        <table border="0">
                        <tr class="form-group">
                            <td><h4>Input Your Data &nbsp;&nbsp;&nbsp;&nbsp;</h4></td>
                            <td>​<textarea style="color:#6da021;" id="data" rows="10" cols="100"></textarea></td>
                        </tr>
                        <tr>
                        <td colspan="1">
                            <Button href="" class="btn btn-block btn-lg btn-dark" style="position: relative; left:70%;">Calculate Result</Button>
                        </td>
                        </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </Section>
</body>
